.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18.75rem;
    min-height: 6.25rem;
    padding: 0.5rem;

    border: 1px solid black;
    border-radius: 0.75rem;
}

.card__body {
    margin-bottom: 0.75rem;
}

.card__title {
    margin-bottom: 0.5rem;

    font-size: 1.125rem;
    font-weight: 700;
}

.card__text,
.card__stack {
    font-size: 1rem;
    line-height: 1.6;
}

.card__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0.75em;

    font-size: 0.875rem;
    font-weight: 600;
    color: #ffffff;

    background-color: #111111;
    border-radius: 0.5rem;
}
