.register__title {
    margin-bottom: 0.75rem;

    font-weight: 700;
    text-align: center;
    color: var(--color-text);
}

.register__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: max-content;
    padding: 1rem 1.5rem;


    background-color: var(--color-surface);
    border-radius: 0.75rem;
}

.register__item {
    margin-bottom: 0.5rem;
}

.register__error {
    margin-bottom: 0.5rem;

    font-size: 0.875rem;
    color: var(--color-error);
}

.register__submit {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.register__link {
    width: fit-content;
    border-bottom: 1px solid var(--color-primary);
    display: flex;
    justify-content: center;
    align-self: center;
}