.register__title {
    margin-bottom: 0.75rem;

    font-weight: 700;
    text-align: center;
    color: #1c1917;
}

.register__form {
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 1.5rem;

    background-color: white;
    border-radius: 0.75rem;
}

.register__item {
    margin-bottom: 0.5rem;
}

.register__submit {
    display: flex;
    justify-content: center;
}
