

.login__title {
    margin-bottom: 0.75rem;

    font-weight: 700;
    text-align: center;
    color: var(--color-text);
}

.login__form {
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 1rem 1.5rem;

    background-color: var(--color-surface);
    border-radius: 0.75rem;
}

.login__item {
    margin-bottom: 0.5rem;
}

.login__submit {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.login__link {
    width: fit-content;
    border-bottom: 1px solid var(--color-primary);
    display: flex;
    justify-content: center;
    align-self: center;
}
